* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* --brand-light: #ffcf34; */
  --brand-light: #f9de45;
  --brand-dark: #f89739;
  --background: #020202;
  --bg-card: #faf9f6;
  --text-color: #fff;
  --text-dark: #020202;
}

body {
  min-height: 100vh;
  width: 100%;
  background: var(--background) url(assets/bg-world-map.png) no-repeat center;
  color: var(--text-color);
  font:
    400 0.85rem/1.5 "Lexend Deca",
    sans-serif;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

input {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  outline: 1px solid var(--brand-dark);
  border: 2px solid transparent;
  padding: 0.75rem 1rem;
  font: var(--text-dark);
}

a {
  text-decoration: none;
  color: var(--brand-dark);
}

footer {
  width: 100%;
  text-align: center;
  flex-shrink: 0;
  margin-top: 1.25rem;
}

.game-title {
  width: var(--width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 0.85rem;
}

.level-options {
  width: 24.3rem;
  margin: auto;
  padding: 20px;
  background-color: var(--background);
  border: 1px solid var(--brand-light);
  border-radius: 8px;
  text-align: center;
}

.button-wrapper {
  display: flex;
  gap: 15px;
  margin-top: 1.25rem;
}

.quiz-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.card {
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 1.5rem;
  padding: 1.25rem;
  border: 2px solid var(--brand-dark);
  border-radius: 1rem;
  background: var(--bg-card);
  color: var(--text-dark);
}

.card-flag {
  border: 1px solid #000000;
}

.button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: var(--brand-dark);
  border: 2px solid var(--brand-light);
  color: var(--text-dark);
  border-radius: 8px;
  cursor: pointer;
}

.result-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 1.25rem;
  margin-top: 1.25rem;
}

.result-title img {
  width: 2rem;
}

.quiz-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
  border: 2px solid var(--brand-light);
  border-radius: 1rem;
  padding: 1.25rem;
}

.result-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results {
  padding-top: 1.25rem;

  & img {
    width: 6rem;
  }
}

.hidden {
  display: none;
}
